/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     rgb(42, 42, 42);
    background-alt: rgb(58, 58, 58);
    foreground:     #FFFFFFFF;
    selected:       rgb(106, 106, 106);
    active:         #98C379FF;
    urgent:         #E06C75FF;
}
