
configuration 
{
    show-icons:                 true;
    hover-select: true;
    me-select-entry: "";
    me-accept-entry: "!MousePrimary"; 
    kb-cancel: ["MousePrimary", "Escape"];
}

@import "theme/color.rasi"
@import "theme/fonts.rasi"
@import "theme/style.rasi"



