@import "../Config/config.rasi"

configuration 
{
	modi:                       "drun";

	display-drun:               " ";

    drun-categories: "";
	drun-match-fields: "name,generic,exec,categories,keywords";
	drun-display-format: "{name} <span size='small' color='grey'>{comment}</span>";
    drun-show-actions: false;
	drun-url-launcher: "xdg-open";
	drun-use-desktop-cache: true;
	drun-reload-desktop-cache: true;
    
    drun {
		parse-user:   true;
		parse-system: true;
    }
}

@import "../Config/color.rasi"
@import "../Config/style.rasi"
@import "../Config/fonts.rasi"

window 
{    
    transparency:                "real";
    location:                    center;
    anchor:                      center;
    fullscreen:                  false;
    width:                       800px;
    height:                      560px;
    x-offset:                    0px;
    y-offset:                    0px;

    enabled:                     true;
    margin:                      10px;
    padding:                     @styleGaps;
    border-radius:               @styleOuterBorderRadius;
    cursor:                      "default";
    background-color:            @background;
}

mainbox 
{
    enabled:                     true;
    spacing:                     @styleWidgetSpace;
	padding:                     @styleInnerGaps;
    border:                      @styleInlineBorderWidth;
    border-radius:               @styleInnerBorderRadius;
	border-color:                @styleInlineBorderColor;
    background-color:            @styleBoxColor;
    vertical-align:              0.5;
    orientation:                 vertical;
    children:                    [ "inputbar", "listview"];
}

inputbar {
    enabled:                     true;
    padding:                     16px 20px;
	margin:                      10px 20px;  
    background-color:            @primaryContainer;
    text-color:                  @onPrimaryContainer;
    border-radius:               10px;
    orientation:                 horizontal;
    children:                    [ "prompt", "entry", "dummy"];
}

prompt {
    padding:                     0;
    border-radius:               0px;
    background-color:            inherit;
    text-color:                  inherit;
    vertical-align:              0.5;
    horizontal-align:            0.0;
}

entry {
    enabled:                     true;
    expand:                      false;
    width:                       620px;
    border-radius:               0;
    background-color:            inherit;
    text-color:                  inherit;
    cursor:                      text;
    placeholder:                 " Search...";
    vertical-align:              0.5;
    horizontal-align:            0;
}

dummy {
    expand:                      true;
    background-color:            transparent;
}



listview 
{
    enabled:                     true;
    columns:                     1;
    lines:                       10;
    cycle:                       false;
    dynamic:                     true;
    scrollbar:                   false;
    layout:                      vertical;
    reverse:                     false;
    fixed-height:                true;
    fixed-columns:               true;
    
    spacing:                     10px;
	margin:                      10px 30px;
    background-color:            transparent;
    text-color:                  @onSurface;
    cursor:                      "default";
}

element 
{
    enabled:                     true;
    spacing:                     0px;
    padding:                     5px 20px;
    border-radius:               0px;
    background-color:            transparent;
    text-color:                  @onSurface;
    cursor:                      pointer;
}
element normal.normal {
    background-color:            inherit;
    text-color:                  inherit;
}
element selected.normal {
	border:                      @styleSelectionBar; 
    border-color:                @styleSelectionColor;
}
element normal.active {
	border:                      @styleSelectionBar; 
    border-color:                @styleActiveColor;
}
element alternate.active {
	border:                      @styleSelectionBar; 
    border-color:                @styleActiveColor;
}
element selected.active {
	border:                      @styleSelectionBar; 
    border-color:                @styleActiveSelectionColor;
}

element-icon 
{
    background-color:            transparent;
    text-color:                  inherit;
    size:                        32px;
    cursor:                      inherit;
}
element-text 
{
    background-color:            transparent;
    text-color:                  inherit;
    cursor:                      inherit;
    padding:                     10px 6px;
    vertical-align:              0.5;
    horizontal-align:            0.0;
}

/*****----- Message -----*****/
message 
{
    background-color:            transparent;
}
textbox {
    padding:                     12px;
    border-radius:               12px;
    background-color:            @surfaceContainerHigh;
    text-color:                  @onSurface;
    vertical-align:              0.5;
    horizontal-align:            0.0;
}
error-message 
{
    padding:                     12px;
    border-radius:               20px;
    background-color:            @background;
    text-color:                  @onSurface;
}
