* {
    font:                        "JetBrains Mono Nerd Font 10";
    background:                  #180F39;
    background-alt:              #32197D;
    foreground:                  #FFFFFF;
    selected:                    #FF00F1;
    active:                      #9878FF;
    urgent:                      #7D0075;
}