* {
    font:                        "JetBrains Mono Nerd Font 10";
    background:                  #1a1a1a;
    background-alt:              #2d2d2d;
    foreground:                  #FFFFFF;
    selected:                    #414141;
    active:                      #b0b0b0;
    urgent:                      #00ff44;
}