@import "../Config/config.rasi"

configuration 
{
	modi:                       "drun";
    display-run:               ">>> ";
}

@import "../Config/color.rasi"
@import "../Config/style.rasi"
@import "../Config/fonts.rasi"

window {
    transparency:                "real";
    location:                    southwest;
    anchor:                      center;
    fullscreen:                  false;
    width:                       600px;
    height:                      280px;
    x-offset:                    0px;
    y-offset:                    0px;

    enabled:                     true;
    margin:                      @styleOuterMargins;
	padding:                     @styleInnerMargins;
    border-radius:               @styleOuterBorderRadius;
    cursor:                      "default";
    background-color:            @background;
}

mainbox {
    enabled:                     true;
    spacing:                     @styleWidgetSpace;
	padding:                     @styleInnerPadding;
    border:                      @styleInnerBorderWidth;
    border-radius:               @styleInnerBorderRadius;
	border-color:                @styleInnerBorderColor;
    background-color:            @styleMainBoxColor;
	text-color:                  @onSurface;
    vertical-align:              0.5;
    horizontal-align:            0.5;
    orientation:                 vertical;
    children:                    ["inputbar", "listview"];
}


inputbar {
    border-radius:               0px;
    background-color:            inherit;
    text-color:                  inherit;
    children:                    [ "prompt", "entry", "dummy"];
}

dummy {
    background-color:            transparent;
}

prompt {
    background-color:            inherit;
	padding:                     10px;
    text-color:                  @onSurface;
}

entry {
    enabled:                     true;
    expand:                      false;
    width:                       20%;
    padding:                     10px;
    margin:                      0px;    
    border-radius:               @styleWidgetBorderRadius;
    background-color:            inherit;
    text-color:                  inherit;
    cursor:                      text;
    placeholder:                 " Run...";
    vertical-align:              0.5;
    horizontal-align:            0;
}



listview 
{
    enabled:                     true;
    columns:                     1;
    lines:                       10;
    cycle:                       true;
    dynamic:                     true;
    scrollbar:                   false;
    layout:                      vertical;
    reverse:                     false;
    fixed-height:                false;
    fixed-columns:               false;
    
    spacing:                     10px;
    margin:                      0px;
	padding:                     10px 20px;
    border:                      0px solid;
    border-radius:               0px;
    background-color:            inherit;
    text-color:                  @onSurface;
    vertical-align:              0.5;
    cursor:                      "default";
}

element {
    enabled:                     true;
    spacing:                     0px;
    margin:                      0px;
    padding:                     10px;
    border:                      0px;
    border-radius:               0px;
    background-color:            inherit;
    text-color:                  inherit;
    orientation:                 horizontal;
    cursor:                      pointer;
}

element normal.normal {
    background-color:            inherit;
    text-color:                  inherit;
}
element selected.normal {
	border:                      @styleSelectionBar; 
    border-color:                @styleSelectionColor;
}
element normal.active {
	border:                      @styleSelectionBar; 
    border-color:                @styleActiveColor;
}
element alternate.active {
	border:                      @styleSelectionBar; 
    border-color:                @styleActiveColor;
}
element selected.active {
	border:                      @styleSelectionBar; 
    border-color:                @styleActiveSelectionColor;
}

element-icon {
    background-color:            transparent;
    size:                        32px;
    cursor:                      inherit;
}
element-text {
    background-color:            inherit;
    text-color:                  inherit;
    cursor:                      inherit;
    vertical-align:              0.5;
    horizontal-align:            0.0;
}