@import "../Config/config.rasi"

configuration 
{
	modi:                       "drun";
    display-run:               ">>> ";
}

@import "../Config//color.rasi"
@import "../Config//style.rasi"
@import "../Config//fonts.rasi"

window
{
    transparency:                "real";
    location:                    southwest;
    anchor:                      west;
    fullscreen:                  false;
    width:                       600px;
    height:                      280px;
    x-offset:                    0px;
    y-offset:                    0px;

    enabled:                     true;
    margin:                      10px;
    padding:                     @styleGaps;
    border-radius:               @styleOuterBorderRadius;
    cursor:                      "default";
    background-color:            @background;
}

mainbox 
{
    enabled:                     true;
    spacing:                     @styleWidgetSpace;
	padding:                     @styleInnerGaps;
    border:                      @styleInlineBorderWidth;
    border-radius:               @styleInnerBorderRadius;
	border-color:                @styleInlineBorderColor;
    background-color:            @styleBoxColor;
    vertical-align:              0.5;
    orientation:                 vertical;
    children:                    [ "inputbar", "listview"];
}


inputbar {
    enabled:                     true;
    margin:                      0px;
    padding:                     10px;
    background-color:            inherit;
    text-color:                  @onSurface;
    orientation:                 horizontal;
    children:                    [ "prompt", "entry", "dummy"];
}

prompt {
    padding:                     0;
    border-radius:               0px;
    background-color:            inherit;
    text-color:                  @onSurface;
    vertical-align:              0.5;
    horizontal-align:            0.0;
}

entry {
    enabled:                     true;
    expand:                      false;
    width:                       20%;
    padding:                     0px 16px;
    border-radius:               @themeBorderRadius;
    background-color:            inherit;
    text-color:                  inherit;
    cursor:                      text;
    placeholder:                 "";
    placeholder-color:           inherit;
    vertical-align:              0.5;
    horizontal-align:            0;
}

dummy {
    expand:                      true;
    background-color:            transparent;
}



listview 
{
    enabled:                     true;
    columns:                     1;
    lines:                       10;
    cycle:                       true;
    dynamic:                     true;
    scrollbar:                   false;
    layout:                      vertical;
    reverse:                     false;
    fixed-height:                true;
    fixed-columns:               true;
    
    spacing:                     10px;
	padding:                     10px 40px;
    background-color:            transparent;
    text-color:                  @onSurface;
    cursor:                      "default";
}

element 
{
    enabled:                     true;
    padding:                     10px;
    border-radius:               0;
    background-color:            transparent;
    text-color:                  @onSurface;
    cursor:                      pointer;
}
element normal.normal {
    background-color:            inherit;
    text-color:                  inherit;
}
element selected.normal {
	border:                      @styleSelectionBar; 
    border-color:                @styleSelectionColor;
}
element normal.active {
	border:                      @styleSelectionBar; 
    border-color:                @styleActiveColor;
}
element alternate.active {
	border:                      @styleSelectionBar; 
    border-color:                @styleActiveColor;
}
element selected.active {
	border:                      @styleSelectionBar; 
    border-color:                @styleActiveSelectionColor;
}

element-icon 
{
    background-color:            transparent;
    text-color:                  inherit;
    size:                        32px;
    cursor:                      inherit;
}
element-text 
{
    background-color:            transparent;
    text-color:                  inherit;
    cursor:                      inherit;
    padding:                     4px;
    vertical-align:              0.5;
    horizontal-align:            0.0;
}
