@import "../Config/config.rasi"

configuration 
{
}

@import "../Config/color.rasi"
@import "../Config/fonts.rasi"
@import "../Config/style.rasi"

window 
{    
    transparency:                "real";
    location:                    southwest;
    anchor:                      center;
    fullscreen:                  false;
    width:                       660px;
    height:                      600px;
    x-offset:                    0px;
    y-offset:                    0px;

    /* properties for all widgets */
    enabled:                     true;
    margin:                      10px;
    padding:                     @styleGaps;
    border-radius:               @styleOuterBorderRadius;
    cursor:                      "default";
    background-color:            @background;
}

