@import "common.rasi"


configuration {
    kb-cancel: [ "Escape" ];
}

mainbox 
{
    enabled:                     true;
    spacing:                     @styleWidgetSpace;
	padding:                     @styleInnerPadding;
    border:                      @styleInnerBorderWidth;
    border-radius:               @styleInnerBorderRadius;
	border-color:                @styleInnerBorderColor;
    background-color:            @styleMainBoxColor;
    vertical-align:              0.5;
    orientation:                 vertical;
    children:                    [ "inputbar", "message"];
}

inputbar {
    padding:                     160px 10px 10px 10px;
    border-radius:               0px;
    background-color:            @background;
    text-color:                  @onSurface;
    children:                    [ "dummy", "prompt", "dummy"];
}

dummy {
    background-color:            transparent;
}

prompt {
    background-color:            inherit;
    text-color:                  inherit;
    font:                        @fontTextHuge;
}

message {
    enabled:                     true;
    margin:                      20px 30px;
    padding:                     20px 40px;
    border-radius:               @styleWidgetBorderRadius;
    background-color:            @surfaceContainer;
    text-color:                  @onSurface;
}

textbox {
    background-color:            inherit;
    text-color:                  inherit;
    vertical-align:              0.5;
    horizontal-align:            0.5;
}
