@import "../Config/config.rasi"

configuration 
{
}

@import "../Config/color.rasi"
@import "../Config/fonts.rasi"
@import "../Config/style.rasi"


window 
{    
    transparency:                "real";
    location:                    south;
    anchor:                      center;
    fullscreen:                  false;
    width:                       600px;
    height:                      140px;
    x-offset:                    0px;
    y-offset:                    0px;

    /* properties for all widgets */
    enabled:                     true;
    margin:                      10px;
    padding:                     @styleGaps;
    border-radius:               @styleOuterBorderRadius;
    cursor:                      "default";
    background-color:            @background;
}

mainbox 
{
    enabled:                     true;
    spacing:                     @styleWidgetSpace;
	padding:                     @styleInnerGaps;
    border:                      @styleInlineBorderWidth;
    border-radius:               @styleInnerBorderRadius;
	border-color:                @styleInlineBorderColor;
    background-color:            @styleBoxColor;
    vertical-align:              0.5;
    orientation:                 vertical;
    children:                    [ "listview" ];
}


listview 
{
    enabled:                     true;
    columns:                     3;
    lines:                       1;
    cycle:                       true;
    dynamic:                     true;
    scrollbar:                   false;
    layout:                      vertical;
    reverse:                     false;
    fixed-height:                true;
    fixed-columns:               true;
    
    spacing:                     8px;
    margin:                      2px 10px;
    border:                      0px solid;
    border-radius:               0px;
    background-color:            inherit;
    text-color:                  @onSurface;
    vertical-align:              0.5;
    horizontal-align:            0.5;
    cursor:                      "default";
}

element {
    enabled:                     true;
    spacing:                     10px;
    margin:                      0px;
    padding:                     10px 0px;
    border:                      0px;
    border-radius:               10px;
    background-color:            inherit;
    text-color:                  @onSurface;
    orientation:                 horizontal;
    cursor:                      pointer;
}
element normal.active {
    background-color:            @surfaceContainer;
    text-color:                  @onSurface;
}
element selected.normal {
    background-color:            @primaryContainer;
    text-color:                  @onPrimaryContainer;
}
element selected.active {
    background-color:            @primaryContainer;
    text-color:                  @onPrimaryContainer;
}
element-icon {
    background-color:            transparent;
    size:                        32px;
    cursor:                      inherit;
}
element-text {
    background-color:            inherit;
    text-color:                  inherit;
    cursor:                      inherit;
    vertical-align:              0.5;
    horizontal-align:            0;
}
