// NOTE: written by carbon shell
* {
background:                     #121318;
surfaceContainer:               #25262b;
onSurface:                      #ffffff;
surfaceContainerHigh:           #303036;
surfaceContainerHighest:        #3b3b41;
primary:                        #c4cfff;
}