@import "../Config/config.rasi"

configuration 
{
}

@import "../Config/color.rasi"
@import "../Config/fonts.rasi"
@import "../Config/style.rasi"


window 
{    
    transparency:                "real";
    location:                    southeast;
    anchor:                      center;
    fullscreen:                  false;
    width:                       640px;
    height:                      560px;
    x-offset:                    0px;
    y-offset:                    0px;

    enabled:                     true;
    margin:                      @styleOuterMargins;
    padding:                     @styleInnerMargins;
    border-radius:               @styleOuterBorderRadius;
    cursor:                      "default";
    background-color:            @background;
}

mainbox 
{
    enabled:                     true;
    spacing:                     @styleWidgetSpace;
	padding:                     @styleInnerPadding;
    border:                      @styleInnerBorderWidth;
    border-radius:               @styleInnerBorderRadius;
	border-color:                @styleInnerBorderColor;
    background-color:            @styleMainBoxColor;
    vertical-align:              0.5;
    orientation:                 vertical;
    children:                    [ "inputbar", "entry", "listview"];
}

inputbar {
    border-radius:               0px;
    background-color:            inherit;
    text-color:                  inherit;
    children:                    [ "dummy", "prompt", "dummy"];
}

dummy {
    background-color:            transparent;
}

prompt {
    background-color:            inherit;
    text-color:                  @onSurface;
}

entry {
    enabled:                     true;
    expand:                      false;
    width:                       500px;
    padding:                     14px;
    margin:                      10px 30px;    
    border-radius:               @styleWidgetBorderRadius;
    background-color:            @primaryContainer;
    text-color:                  @onPrimaryContainer;
    cursor:                      text;
    placeholder:                 " Search...";
    vertical-align:              0.5;
    horizontal-align:            0;
}

listview
{
    enabled:                     true;
    columns:                     1;
    lines:                       10;
    cycle:                       false;
    dynamic:                     true;
    scrollbar:                   false;
    layout:                      vertical;
    reverse:                     false;
    fixed-height:                false;
    fixed-columns:               false;
    
    spacing:                     10px;
    margin:                      10px 40px;
    padding:                     0;
    border:                      0px solid;
    border-radius:               0px;
    background-color:            inherit;
    text-color:                  @onSurface;
    vertical-align:              0.5;
    cursor:                      "default";
}

element {
    enabled:                     true;
    spacing:                     12px;
    margin:                      0px;
    padding:                     12px 0px;
    border:                      0px;
    border-radius:               0px;
    background-color:            inherit;
    text-color:                  @onSurface;
    orientation:                 horizontal;
    cursor:                      pointer;
}
element normal.normal {
    background-color:            inherit;
    text-color:                  inherit;
}
element normal.active {
	border:                      @styleSelectionBar; 
    border-color:                @styleActiveColor;
}
element alternate.active {
	border:                      @styleSelectionBar; 
    border-color:                @styleActiveColor;
}
element selected.normal {
	border:                      @styleSelectionBar; 
    border-color:                @styleSelectionColor;
}
element selected.active {
	border:                      @styleSelectionBar; 
    border-color:                @styleActiveSelectionColor;
}
element-icon {
    background-color:            transparent;
    size:                        32px;
    cursor:                      inherit;
}
element-text {
    background-color:            inherit;
    text-color:                  inherit;
    cursor:                      inherit;
    vertical-align:              0.5;
    horizontal-align:            0.0;
}
