* {
	styleScale: 1;

    styleInlineBorderWidth: 2px;
	styleOuterBorderRadius: 20px;
	styleInnerBorderRadius: 12px;
	styleWidgetBorderRadius: 8px;

	styleGaps: 10px;
	styleInnerGaps: 20px;
	styleWidgetSpace: 12px;

	styleInlineBorderColor: @surfaceContainerHighest;
	styleBoxColor: @background;

	styleSelectionBar: 0px 0px 0px 8px;
	styleSelectionColor: @onSurface;
	styleActiveColor: @surfaceContainerHigh;
	styleActiveSelectionColor: @primary;
}